
main{
    margin: 20px;
}
input{
    margin: 0 7px 7px 7px;
    flex: 1;
}
.form-group{
    display: flex;
    flex-direction: row;
}
form {
    margin: 5px;
}
.conjunto{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.container{
    display: flex;
    flex: 1;
}
.mat-tab-group {
    margin-bottom: 50px;
}
.example-spacer {
    flex: 1 1 auto;
}
