<main>
  <h2>Item</h2>
  <mat-divider></mat-divider>
  <div class="container">    
    <div class="col-sm-6">       
      <mat-card class="mat-card">
        <img mat-card-xl-image src="{{ peca.imageUm }}" alt="peça de roupa">
      </mat-card>         
    </div>    
    <div class="col-sm-6" style="margin-left: 20px;">
      <h3>Produto</h3> 
      <p>{{peca.tipo}} {{peca.cor}}</p> 
      <h3>Tamanho</h3>
      <mat-form-field>
        <mat-label>Tamanhos</mat-label>
          <mat-select [(ngModel)]="tamanho">
          <mat-option value="PP">PP</mat-option>
          <mat-option value="P">P</mat-option>
          <mat-option value="M">M</mat-option>
          <mat-option value="G">G</mat-option>
          <mat-option value="XG">XG</mat-option>
          <mat-option value="XXG">XXG</mat-option>
        </mat-select>
      </mat-form-field>
      <h3>Costureiro</h3>
      <mat-form-field>
        <mat-label>Costureiros</mat-label>
          <mat-select [(ngModel)]="costureiro">
          <mat-option *ngFor="let costureiro of costureiros" [value]="costureiro"> {{ costureiro.usuario.nome }} {{ costureiro.usuario.sobrenome }}</mat-option>
        </mat-select>
      </mat-form-field>    
      <h3>Preço</h3>
      <p>R$ {{peca.valor.toFixed(2)}}</p>
    </div>
  </div>
  
  <h2>Endereço de entrega</h2>
  <mat-divider></mat-divider>
  <form [formGroup]="formEndereco">
    <div class="form-group"> 
      <div class="col-sm-6">
        <label for="destinatario" class="control-label">Destinatário</label>
      </div>        
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="destinatario" 
          id="destinatario" placeholder="Destinatário" required style="width: 300px;"> 
        <ng-container *ngIf="formEndereco.controls.destinatario.touched">
          <span *ngIf="formEndereco.controls.destinatario.errors">
            Campo obrigatório
          </span>
        </ng-container>                           
      </div>        
    </div>
    <div class="conjunto"> 
      <div class="form-group"> 
        <div class="col-sm-6">
          <label for="rua" class="control-label">Rua</label>
        </div>        
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="rua" 
            id="rua" placeholder="Rua" required style="width: 300px;"> 
          <ng-container *ngIf="formEndereco.controls.rua.touched">
            <span *ngIf="formEndereco.controls.rua.errors">
              Campo obrigatório
            </span>
          </ng-container>                           
        </div>        
      </div>
      <div class="form-group"> 
        <div class="col-sm-6" >
          <label for="num" class="control-label">Nº</label>
        </div>        
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="num" 
            id="num" placeholder="Número" required> 
          <ng-container *ngIf="formEndereco.controls.num.touched">
            <span *ngIf="formEndereco.controls.num.errors">
              Campo obrigatório
            </span>
          </ng-container>                           
        </div>        
      </div>
      <div class="form-group"> 
        <div class="col-sm-6">
          <label for="complemento" class="control-label">Complemento</label>
        </div>        
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="complemento" 
            id="complemento" placeholder="Complemento" required>                                         
        </div>        
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-6">
        <label for="CEP" class="control-label">CEP</label>
      </div>        
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="CEP" 
            id="CEP" placeholder="CEP" required> 
        <ng-container *ngIf="formEndereco.controls.CEP.touched">
          <span *ngIf="formEndereco.controls.CEP.errors">
            Campo obrigatório
          </span>
        </ng-container>                           
      </div>        
    </div>
    <div class="conjunto">
      <div class="form-group"> 
        <div class="col-sm-6">
          <label for="bairro" class="control-label">Bairro</label>
        </div>        
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="bairro" 
            id="bairro" placeholder="Bairro" required> 
          <ng-container *ngIf="formEndereco.controls.bairro.touched">
            <span *ngIf="formEndereco.controls.bairro.errors">
              Campo obrigatório
            </span>
          </ng-container>                           
        </div>        
      </div>
      <div class="form-group"> 
        <div class="col-sm-6">
          <label for="cidade" class="control-label">Cidade</label>
        </div>        
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="cidade" 
            id="cidade" placeholder="Cidade" required> 
          <ng-container *ngIf="formEndereco.controls.cidade.touched">
            <span *ngIf="formEndereco.controls.cidade.errors">
              Campo obrigatório
            </span>
          </ng-container>                           
        </div>        
      </div>
      <div class="form-group"> 
        <div class="col-sm-6">
          <label for="estado" class="control-label">Estado</label>
        </div>        
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="estado" 
            id="estado" placeholder="Estado" required> 
          <ng-container *ngIf="formEndereco.controls.estado.touched">
            <span *ngIf="formEndereco.controls.estado.errors">
              Campo obrigatório
            </span>
          </ng-container>                           
        </div>        
      </div>
    </div>       
  </form>
  <h2>Pagamento</h2>
  <mat-divider></mat-divider>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Boleto">Após finalizar a compra você receberá o boleto por e-mail.</mat-tab>
    <mat-tab label="Cartão de Crédito">
      <form class="form-horizontal" [formGroup]="formCartao">
        <div class="form-group"> 
            <div class="col-sm-12" style="margin-bottom: 7px;">
                <label for="num" class="control-label">Número do cartão</label>
            </div>        
            <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="num" 
                id="num" placeholder="Número do cartão" required> 
                <ng-container *ngIf="formCartao.controls.num.touched">
                    <span *ngIf="formCartao.controls.num.errors">
                        Campo obrigatório
                    </span>
                </ng-container>                           
            </div>        
        </div>
        <div class="form-group"> 
            <div class="col-sm-12" style="margin-bottom: 7px;">
                <label for="nome" class="control-label">Nome impresso no cartão</label>
            </div>        
            <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="nome" 
                id="nome" placeholder="Nome" required> 
                <ng-container *ngIf="formCartao.controls.nome.touched">
                    <span *ngIf="formCartao.controls.nome.errors">
                        Campo obrigatório
                    </span>
                </ng-container>                           
            </div>        
        </div>
        <div class="form-group"> 
            <div class="col-sm-12" style="margin-bottom: 7px;">
                <label for="validade" class="control-label">Data de validade</label>
            </div>        
            <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="validade" 
                id="validade" placeholder="Data de validade" required> 
                <ng-container *ngIf="formCartao.controls.validade.touched">
                    <span *ngIf="formCartao.controls.validade.errors">
                        Campo obrigatório
                    </span>
                </ng-container>                           
            </div>        
        </div>
        <div class="form-group"> 
            <div class="col-sm-12" style="margin-bottom: 7px;">
                <label for="codSeg" class="control-label">Código de segurança</label>
            </div>        
            <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="codSeg" 
                id="codSeg" placeholder="Código de segurança" required> 
                <ng-container *ngIf="formCartao.controls.codSeg.touched">
                    <span *ngIf="formCartao.controls.codSeg.errors">
                      Campo obrigatório
                    </span>
                </ng-container>                           
            </div>        
        </div>               
    </form>
    </mat-tab>
    <mat-tab label="Pix">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>No aplicativo do seu banco, escanei o QRcode abaixo.</p>
            <img src="https://www.oficinadanet.com.br/imagens/post/2322/qrcode.png" alt="qrcode">
          </div>
        </div>
      </div>      
    </mat-tab>
  </mat-tab-group>
  <button mat-flat-button color="warn" (click)="goToSucesso()">Comprar</button>
</main>
